body {
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
}

.cssload-container{
    position: fixed;
    top: 50%;
    left: 50%;
}

.cssload-whirlpool,
.cssload-whirlpool::before,
.cssload-whirlpool::after {
    position: absolute;
    top: 50%;
    left: 50%;
    border: 1px solid rgb(204,204,204);
    border-left-color: rgb(0,0,0);
    border-radius: 974px;
    -o-border-radius: 974px;
    -ms-border-radius: 974px;
    -webkit-border-radius: 974px;
    -moz-border-radius: 974px;
}

.cssload-whirlpool {
    margin: -24px 0 0 -24px;
    height: 49px;
    width: 49px;
    animation: cssload-rotate 1150ms linear infinite;
    -o-animation: cssload-rotate 1150ms linear infinite;
    -ms-animation: cssload-rotate 1150ms linear infinite;
    -webkit-animation: cssload-rotate 1150ms linear infinite;
    -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::before {
    content: "";
    margin: -22px 0 0 -22px;
    height: 43px;
    width: 43px;
    animation: cssload-rotate 1150ms linear infinite;
    -o-animation: cssload-rotate 1150ms linear infinite;
    -ms-animation: cssload-rotate 1150ms linear infinite;
    -webkit-animation: cssload-rotate 1150ms linear infinite;
    -moz-animation: cssload-rotate 1150ms linear infinite;
}

.cssload-whirlpool::after {
    content: "";
    margin: -28px 0 0 -28px;
    height: 55px;
    width: 55px;
    animation: cssload-rotate 2300ms linear infinite;
    -o-animation: cssload-rotate 2300ms linear infinite;
    -ms-animation: cssload-rotate 2300ms linear infinite;
    -webkit-animation: cssload-rotate 2300ms linear infinite;
    -moz-animation: cssload-rotate 2300ms linear infinite;
}



@keyframes cssload-rotate {
    100% {
        transform: rotate(360deg);
    }
}

@-o-keyframes cssload-rotate {
    100% {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes cssload-rotate {
    100% {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes cssload-rotate {
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes cssload-rotate {
    100% {
        -moz-transform: rotate(360deg);
    }
}

/** Header */
#header .t396__artboard {
    height: 70px;
    background-color: #ffffff;
}

#header .t396__filter {
    height: 70px;
}

#header .t396__carrier {
    height: 70px;
    background-size: cover;
    background: no-repeat fixed center center;
}

@media screen and (max-width: 1199px) {
    #header .t396__artboard {
    }

    #header .t396__filter {
    }

    #header .t396__carrier {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
    #header .t396__artboard {
        height: 140px;
    }

    #header .t396__filter {
        height: 140px;
    }

    #header .t396__carrier {
        height: 140px;
    }
}

@media screen and (max-width: 479px) {
    #header .t396__artboard {
        height: 130px;
    }

    #header .t396__filter {
        height: 130px;
    }

    #header .t396__carrier {
        height: 130px;
    }
}

#header .tn-elem[data-elem-id="1521361634932"] {
    color: #000000;
    text-align: center;
    z-index: 6;
    top: 15px;
    left: calc(50% - 600px + 1080px);
    width: 220px;
    height: 40px;
}

#header .tn-elem[data-elem-id="1521361634932"] .tn-atom {
    color: #000000;
    font-size: 17px;
    font-family: 'GothaPro';
    line-height: 1.55;
    font-weight: 600;
    border-width: 1px;
    border-radius: 30px;
    background-color: #ffe100;
    background-position: center center;
    border-color: #9e9e9e;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    box-shadow: 0px 0px 1px 1px rgba(158, 158, 158, 1);
}

#header .tn-elem[data-elem-id="1521361634932"] .tn-atom:hover {
    background-color: #ff8800;
    border-color: #000000;
    color: #000000;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#header .tn-elem[data-elem-id="1521361964301"] {
    z-index: 2;
    top: 3px;
    left: calc(50% - 600px + -50px);
    width: 90px;
}

#header .tn-elem[data-elem-id="1521361964301"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#header .tn-elem[data-elem-id="1521364655339"] {
    color: #000000;
    text-align: center;
    z-index: 3;
    top: 20px;
    left: calc(50% - 600px + 750px);
    width: 90px;
    height: 25px;
}

#header .tn-elem[data-elem-id="1521364655339"] .tn-atom {
    color: #000000;
    font-size: 18px;
    font-family: 'GothaPro';
    line-height: 1.55;
    font-weight: 600;
    border-width: 1px;
    border-radius: 30px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

#header .tn-elem[data-elem-id="1521364655339"] .tn-atom:hover {
    border-color: #000000;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#header .tn-elem[data-elem-id="1521364767677"] {
    color: #000000;
    text-align: center;
    z-index: 4;
    top: 20px;
    left: calc(50% - 600px + 850px);
    width: 60px;
    height: 29px;
}

#header .tn-elem[data-elem-id="1521364767677"] .tn-atom {
    color: #000000;
    font-size: 18px;
    font-family: 'GothaPro';
    line-height: 1.55;
    font-weight: 600;
    border-width: 1px;
    border-radius: 30px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

#header .tn-elem[data-elem-id="1521364767677"] .tn-atom:hover {
    border-color: #000000;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#header .tn-elem[data-elem-id="1521364799030"] {
    color: #000000;
    text-align: center;
    z-index: 5;
    top: 20px;
    left: calc(50% - 600px + 920px);
    width: 100px;
    height: 29px;
}

#header .tn-elem[data-elem-id="1521364799030"] .tn-atom {
    color: #000000;
    font-size: 18px;
    font-family: 'GothaPro';
    line-height: 1.55;
    font-weight: 600;
    border-width: 1px;
    border-radius: 30px;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

#header .tn-elem[data-elem-id="1521364799030"] .tn-atom:hover {
    border-color: #000000;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#header .tn-elem[data-elem-id="1521535520526"] {
    z-index: 1;
    top: -2px;
    left: calc(50% - 600px + -238px);
    width: 1680px;
    height: 72px;
}

#header .tn-elem[data-elem-id="1521535520526"] .tn-atom {
    background-color: #ffffff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

/** Section1 */
#rec47015277 .t396__artboard {
    height: 740px;
    background-color: #708090;
}

#rec47015277 .t396__filter {
    height: 740px;
}

#rec47015277 .t396__carrier {
    height: 740px;
    background-position: center center;
    background-attachment: scroll;
    background-image: url('https://static.tildacdn.com/tild3132-3635-4337-b933-636133306535/-/resize/20x/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
    #rec47015277 .t396__artboard {
        height: 480px;
    }

    #rec47015277 .t396__filter {
        height: 480px;
    }

    #rec47015277 .t396__carrier {
        height: 480px;
        background-attachment: scroll;
    }
}

@media screen and (max-width: 959px) {
    #rec47015277 .t396__artboard {
        height: 740px;
    }

    #rec47015277 .t396__filter {
        height: 740px;
    }

    #rec47015277 .t396__carrier {
        height: 740px;
    }
}

@media screen and (max-width: 639px) {
    #rec47015277 .t396__artboard {
        height: 700px;
    }

    #rec47015277 .t396__filter {
        height: 700px;
    }

    #rec47015277 .t396__carrier {
        height: 700px;
    }
}

@media screen and (max-width: 479px) {
    #rec47015277 .t396__artboard {
        height: 600px;
    }

    #rec47015277 .t396__filter {
        height: 600px;
    }

    #rec47015277 .t396__carrier {
        height: 600px;
    }
}

#rec47015277 .tn-elem[data-elem-id="1520358348994"] {
    z-index: 2;
    top: 61px;
    left: calc(50% - 600px + 480px);
    width: 820px;
}

#rec47015277 .tn-elem[data-elem-id="1520358348994"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec47015277 .tn-elem[data-elem-id="1520358464654"] {
    color: #000000;
    text-align: center;
    z-index: 3;
    top: 220px;
    left: calc(50% - 600px + -90px);
    width: 560px;
}

#rec47015277 .tn-elem[data-elem-id="1520358464654"] .tn-atom {
    color: #000000;
    font-size: 27px;
    font-family: 'GothaPro';
    line-height: 1.3;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
    #rec47015277 .tn-elem[data-elem-id="1520358464654"] .tn-atom {
        font-size: 22px;
    }
}

@media screen and (max-width: 959px) {
    #rec47015277 .tn-elem[data-elem-id="1520358464654"] {
        text-align: left;
    }

    #rec47015277 .tn-elem[data-elem-id="1520358464654"] .tn-atom {
        font-size: 20px;
    }
}

@media screen and (max-width: 639px) {
    #rec47015277 .tn-elem[data-elem-id="1520358464654"] .tn-atom {
        font-size: 19px;
    }
}

@media screen and (max-width: 479px) {
    #rec47015277 .tn-elem[data-elem-id="1520358464654"] .tn-atom {
        font-size: 13px;
    }
}

#rec47015277 .tn-elem[data-elem-id="1520360043091"] {
    color: #000000;
    z-index: 4;
    top: 324px;
    left: calc(50% - 600px + -45px);
    width: 460px;
}

#rec47015277 .tn-elem[data-elem-id="1520360043091"] .tn-atom {
    color: #000000;
    font-size: 17px;
    font-family: 'GothaPro';
    line-height: 2;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
    #rec47015277 .tn-elem[data-elem-id="1520360043091"] .tn-atom {
        font-size: 14px;
    }
}

@media screen and (max-width: 959px) {
    #rec47015277 .tn-elem[data-elem-id="1520360043091"] .tn-atom {
        font-size: 15px;
    }
}

@media screen and (max-width: 639px) {
    #rec47015277 .tn-elem[data-elem-id="1520360043091"] .tn-atom {
        font-size: 15px;
    }
}

@media screen and (max-width: 479px) {
    #rec47015277 .tn-elem[data-elem-id="1520360043091"] .tn-atom {
        font-size: 11px;
    }
}

#rec47015277 .tn-elem[data-elem-id="1520360402690"] {
    color: #000000;
    text-align: center;
    z-index: 5;
    top: 580px;
    left: calc(50% - 600px + 40px);
    width: 300px;
    height: 55px;
}

#rec47015277 .tn-elem[data-elem-id="1520360402690"] .tn-atom {
    color: #000000;
    font-size: 26px;
    font-family: 'GothaPro';
    line-height: 1.55;
    font-weight: 600;
    border-width: 1px;
    border-radius: 3px;
    background-color: #ffe100;
    background-position: center center;
    border-color: #000000;
    border-style: solid;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    box-shadow: 0px 0px 3px 1px rgba(0, 0, 0, 1);
}

#rec47015277 .tn-elem[data-elem-id="1520360402690"] .tn-atom:hover {
    background-color: #ff8800;
    border-color: #000000;
    color: #000000;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
    #rec47015277 .tn-elem[data-elem-id="1520360402690"] .tn-atom {
        font-size: 21px;
        background-color: #ffe100;
        border-radius: 3px;
    }
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
    #rec47015277 .tn-elem[data-elem-id="1520360402690"] .tn-atom {
        font-size: 20px;
    }
}

#rec47015277 .tn-elem[data-elem-id="1520932219306"] {
    z-index: 1;
    top: 66px;
    left: calc(50% - 600px + -64px);
    width: 512px;
    height: 609px;
}

#rec47015277 .tn-elem[data-elem-id="1520932219306"] .tn-atom {
    opacity: 0.85;
    background-color: #ffffff;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    box-shadow: 0px 0px 1px 2px rgba(8, 8, 8, 1);
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec47015277 .tn-elem[data-elem-id="1521294908668"] {
    z-index: 6;
    top: 80px;
    left: calc(50% - 600px + 100px);
    width: 170px;
}

#rec47015277 .tn-elem[data-elem-id="1521294908668"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

/** Section2 */
#rec47015278 .t396__artboard {
    height: 870px;
    background-color: #ffffff;
    padding-top: 45px;
}

#rec47015278 .t396__filter {
    height: 870px;
}

#rec47015278 .t396__carrier {
    height: 870px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
    #rec47015278 .t396__artboard {
        height: 740px;
    }

    #rec47015278 .t396__filter {
        height: 740px;
    }

    #rec47015278 .t396__carrier {
        height: 740px;
        background-attachment: scroll;
    }
}

@media screen and (max-width: 959px) {
    #rec47015278 .t396__artboard {
        height: 1330px;
    }

    #rec47015278 .t396__filter {
        height: 1330px;
    }

    #rec47015278 .t396__carrier {
        height: 1330px;
    }
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
    #rec47015278 .t396__artboard {
        height: 1060px;
    }

    #rec47015278 .t396__filter {
        height: 1060px;
    }

    #rec47015278 .t396__carrier {
        height: 1060px;
    }
}

#rec47015278 .tn-elem[data-elem-id="1519225700866"] {
    color: #000000;
    text-align: center;
    z-index: 1;
    top: 66px;
    left: calc(50% - 600px + 320px);
    width: 560px;
}

#rec47015278 .tn-elem[data-elem-id="1519225700866"] .tn-atom {
    color: #000000;
    font-size: 35px;
    font-family: 'GothaPro';
    line-height: 1.55;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
    #rec47015278 .tn-elem[data-elem-id="1519225700866"] .tn-atom {
        font-size: 23px;
    }
}

#rec47015278 .tn-elem[data-elem-id="1519225857327"] {
    color: #000000;
    text-align: center;
    z-index: 2;
    top: 153px;
    left: calc(50% - 600px + 185px);
    width: 190px;
}

#rec47015278 .tn-elem[data-elem-id="1519225857327"] .tn-atom {
    color: #000000;
    font-size: 25px;
    font-family: 'GothaPro';
    line-height: 1.55;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
    #rec47015278 .tn-elem[data-elem-id="1519225857327"] .tn-atom {
        font-size: 20px;
    }
}

#rec47015278 .tn-elem[data-elem-id="1519225973761"] {
    z-index: 4;
    top: 250px;
    left: calc(50% - 600px + 15px);
    width: 530px;
}

#rec47015278 .tn-elem[data-elem-id="1519225973761"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 1);
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec47015278 .tn-elem[data-elem-id="1519227802799"] {
    color: #000000;
    text-align: center;
    z-index: 18;
    top: 690px;
    left: calc(50% - 600px + 150px);
    width: 260px;
    height: 55px;
}

#rec47015278 .tn-elem[data-elem-id="1519227802799"] .tn-atom {
    color: #000000;
    font-size: 25px;
    font-family: 'Arial';
    line-height: 1.55;
    font-weight: 600;
    border-width: 2px;
    border-radius: 5px;
    background-color: #ffe100;
    background-position: center center;
    border-color: #000000;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

#rec47015278 .tn-elem[data-elem-id="1519227802799"] .tn-atom:hover {
    background-color: #ff8800;
    border-color: #000000;
    color: #000000;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
    #rec47015278 .tn-elem[data-elem-id="1519227802799"] .tn-atom {
        font-size: 20px;
    }
}

#rec47015278 .tn-elem[data-elem-id="1519228437261"] {
    color: #363636;
    text-align: center;
    z-index: 11;
    top: 189px;
    left: calc(50% - 600px + 92px);
    width: 380px;
}

#rec47015278 .tn-elem[data-elem-id="1519228437261"] .tn-atom {
    color: #363636;
    font-size: 18px;
    font-family: 'GothaPro';
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec47015278 .tn-elem[data-elem-id="1519228566890"] {
    color: #000000;
    text-align: center;
    z-index: 12;
    top: 150px;
    left: calc(50% - 600px + 825px);
    width: 190px;
}

#rec47015278 .tn-elem[data-elem-id="1519228566890"] .tn-atom {
    color: #000000;
    font-size: 25px;
    font-family: 'GothaPro';
    line-height: 1.55;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
    #rec47015278 .tn-elem[data-elem-id="1519228566890"] .tn-atom {
        font-size: 20px;
    }
}

#rec47015278 .tn-elem[data-elem-id="1519228566894"] {
    z-index: 13;
    top: 250px;
    left: calc(50% - 600px + 655px);
    width: 530px;
}

#rec47015278 .tn-elem[data-elem-id="1519228566894"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 1);
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec47015278 .tn-elem[data-elem-id="1519228566910"] {
    color: #363636;
    text-align: center;
    z-index: 15;
    top: 189px;
    left: calc(50% - 600px + 732px);
    width: 380px;
}

#rec47015278 .tn-elem[data-elem-id="1519228566910"] .tn-atom {
    color: #363636;
    font-size: 18px;
    font-family: 'GothaPro';
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec47015278 .tn-elem[data-elem-id="1520945838188"] {
    color: #000000;
    text-align: center;
    z-index: 17;
    top: 690px;
    left: calc(50% - 600px + 790px);
    width: 260px;
    height: 55px;
}

#rec47015278 .tn-elem[data-elem-id="1520945838188"] .tn-atom {
    color: #000000;
    font-size: 25px;
    font-family: 'Arial';
    line-height: 1.55;
    font-weight: 600;
    border-width: 2px;
    border-radius: 5px;
    background-color: #ffe100;
    background-position: center center;
    border-color: #000000;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

#rec47015278 .tn-elem[data-elem-id="1520945838188"] .tn-atom:hover {
    background-color: #ff8800;
    border-color: #000000;
    color: #000000;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
    #rec47015278 .tn-elem[data-elem-id="1520945838188"] .tn-atom {
        font-size: 20px;
    }
}

#rec47015278 .tn-elem[data-elem-id="1521293232622"] {
    text-align: center;
    z-index: 7;
    top: 250px;
    left: calc(50% - 600px + 15px);
    width: 530px;
    height: 530px;
}

#rec47015278 .tn-elem[data-elem-id="1521293232622"] .tn-atom {
    color: transparent;
    font-size: 14px;
    font-family: 'Arial';
    line-height: 1.55;
    font-weight: 600;
    border-width: 9px;
    border-radius: 0px;
    opacity: 0.7;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 1s ease-in-out, color 1s ease-in-out, border-color 1s ease-in-out;
}

#rec47015278 .tn-elem[data-elem-id="1521293232622"] .tn-atom:hover {
    background-color: #000000;
    border-color: #ffffff;
    color: #ffffff;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec47015278 .tn-elem[data-elem-id="1521293526707"] {
    text-align: center;
    z-index: 16;
    top: 250px;
    left: calc(50% - 600px + 655px);
    width: 530px;
    height: 530px;
}

#rec47015278 .tn-elem[data-elem-id="1521293526707"] .tn-atom {
    color: transparent;
    font-size: 14px;
    font-family: 'Arial';
    line-height: 1.55;
    font-weight: 600;
    border-width: 9px;
    border-radius: 0px;
    opacity: 0.7;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 1s ease-in-out, color 1s ease-in-out, border-color 1s ease-in-out;
}

#rec47015278 .tn-elem[data-elem-id="1521293526707"] .tn-atom:hover {
    background-color: #000000;
    border-color: #ffffff;
    color: #ffffff;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

/** Section3 */

#rec47015282 .t396__artboard {
    height: 150px;
    background-color: #ffffff;
}

#rec47015282 .t396__filter {
    height: 150px;
}

#rec47015282 .t396__carrier {
    height: 150px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
    #rec47015282 .t396__artboard {
    }

    #rec47015282 .t396__filter {
    }

    #rec47015282 .t396__carrier {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
    #rec47015282 .t396__artboard {
        height: 110px;
    }

    #rec47015282 .t396__filter {
        height: 110px;
    }

    #rec47015282 .t396__carrier {
        height: 110px;
    }
}

#rec47015282 .tn-elem[data-elem-id="1520367851657"] {
    color: #000000;
    text-align: center;
    z-index: 1;
    top: 48px;
    left: calc(50% - 600px + 470px);
    width: 260px;
    height: 55px;
}

#rec47015282 .tn-elem[data-elem-id="1520367851657"] .tn-atom {
    color: #000000;
    font-size: 25px;
    font-family: 'Arial';
    line-height: 1.55;
    font-weight: 600;
    border-radius: 5px;
    background: #ffe100 center center;
    border: 1px solid transparent;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 1);
}

#rec47015282 .tn-elem[data-elem-id="1520367851657"] .tn-atom:hover {
    background-color: #ff8800;
    border-color: #000000;
    color: #000000;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec47015279 {
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #708090;
}

#rec47015279 .t051__text {
    font-size: 40px;
    font-family: 'GothaPro';
}

#rec47015280 {
    padding-top: 0px;
    padding-bottom: 60px;
    background-color: #708090;
}

/** Section4 */

#rec47475513 .t396__artboard {
    height: 150px;
    background-color: #708090;
}

#rec47475513 .t396__filter {
    height: 150px;
}

#rec47475513 .t396__carrier {
    height: 150px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
    #rec47475513 .t396__artboard {
    }

    #rec47475513 .t396__filter {
    }

    #rec47475513 .t396__carrier {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
    #rec47475513 .t396__artboard {
        height: 110px;
    }

    #rec47475513 .t396__filter {
        height: 110px;
    }

    #rec47475513 .t396__carrier {
        height: 110px;
    }
}

#rec47475513 .tn-elem[data-elem-id="1520367851657"] {
    color: #000000;
    text-align: center;
    z-index: 1;
    top: 48px;
    left: calc(50% - 600px + 470px);
    width: 260px;
    height: 55px;
}

#rec47475513 .tn-elem[data-elem-id="1520367851657"] .tn-atom {
    color: #000000;
    font-size: 25px;
    font-family: 'Arial';
    line-height: 1.55;
    font-weight: 600;
    border-radius: 5px;
    background: #ffe100 center center;
    border: 1px solid transparent;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 1);
}

#rec47475513 .tn-elem[data-elem-id="1520367851657"] .tn-atom:hover {
    background-color: #ff8800;
    border-color: #000000;
    color: #000000;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec47015281 {
    padding-top: 60px;
    padding-bottom: 60px;
    font-family: 'GothaPro';
}

/** Section5 */

#rec47015283 {
    padding-top: 60px;
    padding-bottom: 30px;
    background-color: #708090;
}

#rec47015283-text {
    font-size: 30px;
}

#rec47015284 {
    padding-top: 30px;
    padding-bottom: 60px;
    background-color: #708090;
}

/** Section6 */

#rec47425984 .t396__artboard {
    height: 140px;
}

#rec47425984 .t396__filter {
    height: 140px;
}

#rec47425984 .t396__carrier {
    height: 140px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
    #rec47425984 .t396__artboard {
        height: 130px;
    }

    #rec47425984 .t396__filter {
        height: 130px;
    }

    #rec47425984 .t396__carrier {
        height: 130px;
        background-attachment: scroll;
    }
}

@media screen and (max-width: 959px) {
    #rec47425984 .t396__artboard {
        height: 90px;
    }

    #rec47425984 .t396__filter {
        height: 90px;
    }

    #rec47425984 .t396__carrier {
        height: 90px;
    }
}

@media screen and (max-width: 639px) {
    #rec47425984 .t396__artboard {
        height: 60px;
    }

    #rec47425984 .t396__filter {
        height: 60px;
    }

    #rec47425984 .t396__carrier {
        height: 60px;
    }
}

@media screen and (max-width: 479px) {
}

#rec47425984 .tn-elem[data-elem-id="1520923609101"] {
    color: #000000;
    text-align: center;
    z-index: 1;
    top: 48px;
    left: calc(50% - 600px + 490px);
    width: 220px;
}

#rec47425984 .tn-elem[data-elem-id="1520923609101"] .tn-atom {
    color: #000000;
    font-size: 35px;
    font-family: 'GothaPro';
    line-height: 1.55;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
    #rec47425984 .tn-elem[data-elem-id="1520923609101"] .tn-atom {
        font-size: 30px;
    }
}

@media screen and (max-width: 479px) {
}

/** Section6 */

#rec47475486 .t396__artboard {
    height: 150px;
    background-color: #ffffff;
}

#rec47475486 .t396__filter {
    height: 150px;
}

#rec47475486 .t396__carrier {
    height: 150px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
    #rec47475486 .t396__artboard {
    }

    #rec47475486 .t396__filter {
    }

    #rec47475486 .t396__carrier {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
    #rec47475486 .t396__artboard {
        height: 110px;
    }

    #rec47475486 .t396__filter {
        height: 110px;
    }

    #rec47475486 .t396__carrier {
        height: 110px;
    }
}

#rec47475486 .tn-elem[data-elem-id="1520367851657"] {
    color: #000000;
    text-align: center;
    z-index: 1;
    top: 48px;
    left: calc(50% - 600px + 470px);
    width: 260px;
    height: 55px;
}

#rec47475486 .tn-elem[data-elem-id="1520367851657"] .tn-atom {
    color: #000000;
    font-size: 25px;
    font-family: 'Arial';
    line-height: 1.55;
    font-weight: 600;
    border-width: 1px;
    border-radius: 5px;
    background-color: #ffe100;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 1);
}

#rec47475486 .tn-elem[data-elem-id="1520367851657"] .tn-atom:hover {
    background-color: #ff8800;
    border-color: #000000;
    color: #000000;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec47421036 {
    padding-top: 15px;
    padding-bottom: 60px;
}

/** Insta */

#rec48305617 {
    padding-top: 0px;
    padding-bottom: 0px;
}

#rec48197906 .t396__artboard {
    height: 270px;
    background-color: #ffffff;
}

#rec48197906 .t396__filter {
    height: 270px;
}

#rec48197906 .t396__carrier {
    height: 270px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
    #rec48197906 .t396__artboard {
        height: 250px;
    }

    #rec48197906 .t396__filter {
        height: 250px;
    }

    #rec48197906 .t396__carrier {
        height: 250px;
        background-attachment: scroll;
    }
}

@media screen and (max-width: 959px) {
    #rec48197906 .t396__artboard {
        height: 260px;
    }

    #rec48197906 .t396__filter {
        height: 260px;
    }

    #rec48197906 .t396__carrier {
        height: 260px;
    }
}

@media screen and (max-width: 639px) {
    #rec48197906 .t396__artboard {
        height: 260px;
    }

    #rec48197906 .t396__filter {
        height: 260px;
    }

    #rec48197906 .t396__carrier {
        height: 260px;
    }
}

@media screen and (max-width: 479px) {
    #rec48197906 .t396__artboard {
        height: 220px;
    }

    #rec48197906 .t396__filter {
        height: 220px;
    }

    #rec48197906 .t396__carrier {
        height: 220px;
    }
}

#rec48197906 .tn-elem[data-elem-id="1521540249895"] {
    color: #000000;
    z-index: 1;
    top: 130px;
    left: calc(50% - 600px + 220px);
    width: 560px;
}

#rec48197906 .tn-elem[data-elem-id="1521540249895"] .tn-atom {
    color: #000000;
    font-size: 20px;
    font-family: 'Open Sans';
    line-height: 1.55;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
    #rec48197906 .tn-elem[data-elem-id="1521540249895"] .tn-atom {
        font-size: 17px;
    }
}

@media screen and (max-width: 479px) {
    #rec48197906 .tn-elem[data-elem-id="1521540249895"] .tn-atom {
        font-size: 12px;
    }
}

#rec48197906 .tn-elem[data-elem-id="1521540316248"] {
    color: #000000;
    text-align: center;
    z-index: 2;
    top: 137px;
    left: calc(50% - 600px + 660px);
    width: 20px;
    height: 20px;
}

#rec48197906 .tn-elem[data-elem-id="1521540316248"] .tn-atom {
    color: #000000;
    font-size: 10px;
    font-family: 'Arial';
    line-height: 1.55;
    font-weight: 600;
    border-width: 1px;
    border-radius: 100px;
    background-color: #ffe100;
    background-position: center center;
    border-color: #000000;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

#rec48197906 .tn-elem[data-elem-id="1521540316248"] .tn-atom:hover {
    background-color: #000000;
    border-color: #ffe100;
    color: #ffe100;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec48197906 .tn-elem[data-elem-id="1521618994824"] {
    color: #000000;
    z-index: 3;
    top: 170px;
    left: calc(50% - 600px + 220px);
    width: 860px;
}

#rec48197906 .tn-elem[data-elem-id="1521618994824"] .tn-atom {
    color: #000000;
    font-size: 20px;
    font-family: 'Open Sans';
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
    #rec48197906 .tn-elem[data-elem-id="1521618994824"] .tn-atom {
        font-size: 17px;
    }
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
    #rec48197906 .tn-elem[data-elem-id="1521618994824"] .tn-atom {
        font-size: 16px;
    }
}

@media screen and (max-width: 479px) {
    #rec48197906 .tn-elem[data-elem-id="1521618994824"] .tn-atom {
        font-size: 13px;
    }
}

#rec48197906 .tn-elem[data-elem-id="1521620007414"] {
    color: #000000;
    text-align: center;
    z-index: 4;
    top: 40px;
    left: calc(50% - 600px + 410px);
    width: 380px;
}

#rec48197906 .tn-elem[data-elem-id="1521620007414"] .tn-atom {
    color: #000000;
    font-size: 30px;
    font-family: 'Open Sans';
    line-height: 1.55;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
    #rec48197906 .tn-elem[data-elem-id="1521620007414"] .tn-atom {
        font-size: 20px;
    }
}

#rec48302539 .t396__artboard {
    height: 210px;
    background-color: #fafafa;
}

#rec48302539 .t396__filter {
    height: 210px;
}

#rec48302539 .t396__carrier {
    height: 210px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
    #rec48302539 .t396__artboard {
    }

    #rec48302539 .t396__filter {
    }

    #rec48302539 .t396__carrier {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
    #rec48302539 .t396__artboard {
        height: 160px;
    }

    #rec48302539 .t396__filter {
        height: 160px;
    }

    #rec48302539 .t396__carrier {
        height: 160px;
    }
}

#rec48302539 .tn-elem[data-elem-id="1521619174182"] {
    color: #000000;
    text-align: center;
    z-index: 1;
    top: 32px;
    left: calc(50% - 600px + 220px);
    width: 600px;
}

#rec48302539 .tn-elem[data-elem-id="1521619174182"] .tn-atom {
    color: #000000;
    font-size: 20px;
    font-family: 'Open Sans';
    line-height: 1.55;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
    #rec48302539 .tn-elem[data-elem-id="1521619174182"] .tn-atom {
        font-size: 14px;
    }
}

@media screen and (max-width: 479px) {
    #rec48302539 .tn-elem[data-elem-id="1521619174182"] .tn-atom {
        font-size: 10px;
    }
}

#rec48302539 .tn-elem[data-elem-id="1521619720018"] {
    z-index: 2;
    top: 89px;
    left: calc(50% - 600px + 219px);
    width: 90px;
}

#rec48302539 .tn-elem[data-elem-id="1521619720018"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec48302539 .tn-elem[data-elem-id="1521619758530"] {
    color: #000000;
    z-index: 3;
    top: 118px;
    left: calc(50% - 600px + 333px);
    width: 560px;
}

#rec48302539 .tn-elem[data-elem-id="1521619758530"] .tn-atom {
    color: #000000;
    font-size: 20px;
    font-family: 'Open Sans';
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
    #rec48302539 .tn-elem[data-elem-id="1521619758530"] .tn-atom {
        font-size: 14px;
    }
}

#rec48203744 .t396__artboard {
    height: 140px;
    background-color: #ffffff;
}

#rec48203744 .t396__filter {
    height: 140px;
}

#rec48203744 .t396__carrier {
    height: 140px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
    #rec48203744 .t396__artboard {
        height: 100px;
    }

    #rec48203744 .t396__filter {
        height: 100px;
    }

    #rec48203744 .t396__carrier {
        height: 100px;
        background-attachment: scroll;
    }
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
    #rec48203744 .t396__artboard {
        height: 80px;
    }

    #rec48203744 .t396__filter {
        height: 80px;
    }

    #rec48203744 .t396__carrier {
        height: 80px;
    }
}

#rec48203744 .tn-elem[data-elem-id="1521540249895"] {
    color: #000000;
    z-index: 1;
    top: 70px;
    left: calc(50% - 600px + 220px);
    width: 560px;
}

#rec48203744 .tn-elem[data-elem-id="1521540249895"] .tn-atom {
    color: #000000;
    font-size: 20px;
    font-family: 'Open Sans';
    line-height: 1.55;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
    #rec48203744 .tn-elem[data-elem-id="1521540249895"] .tn-atom {
        font-size: 17px;
    }
}

@media screen and (max-width: 479px) {
    #rec48203744 .tn-elem[data-elem-id="1521540249895"] .tn-atom {
        font-size: 12px;
    }
}

#rec48203744 .tn-elem[data-elem-id="1521540316248"] {
    color: #000000;
    text-align: center;
    z-index: 2;
    top: 77px;
    left: calc(50% - 600px + 630px);
    width: 20px;
    height: 20px;
}

#rec48203744 .tn-elem[data-elem-id="1521540316248"] .tn-atom {
    color: #000000;
    font-size: 10px;
    font-family: 'Arial';
    line-height: 1.55;
    font-weight: 600;
    border-width: 1px;
    border-radius: 100px;
    background-color: #ffe100;
    background-position: center center;
    border-color: #000000;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

#rec48203744 .tn-elem[data-elem-id="1521540316248"] .tn-atom:hover {
    background-color: #000000;
    border-color: #ffe100;
    color: #ffe100;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec48172598 input::-webkit-input-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec48172598 input::-moz-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec48172598 input:-moz-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec48172598 input:-ms-input-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec48172598 .t-submit:hover {
    background-color: #ff8800 !important;
    color: #000000 !important;
    border-color: #000000 !important;
}

#rec48172598 .t-submit {
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.tn-elem__481979061521540316248 {
    top: 137px;
    left: 1012.5px;
    width: 20px;
    height: 20px;
}

#rec48173385 {
    padding-top:15px;padding-bottom:30px;
}

#rec48173385 input::-webkit-input-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec48173385 input::-moz-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec48173385 input:-moz-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec48173385 input:-ms-input-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec48173385 textarea::-webkit-input-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec48173385 textarea::-moz-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec48173385 textarea:-moz-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec48173385 textarea:-ms-input-placeholder {
    color: #000000;
    opacity: 0.5;
}
#rec48173385 .t-submit:hover {
    background-color: #ff8800 !important;
    color: #000000 !important;
    border-color: #000000 !important;
}

#rec48173385 .t-submit {
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
#rec48204974 .t396__artboard {
    height: 140px;
    background-color: #ffffff;
}

#rec48204974 .t396__filter {
    height: 140px;
}

#rec48204974 .t396__carrier {
    height: 140px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
    #rec48204974 .t396__artboard {
        height: 100px;
    }

    #rec48204974 .t396__filter {
        height: 100px;
    }

    #rec48204974 .t396__carrier {
        height: 100px;
        background-attachment: scroll;
    }
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
    #rec48204974 .t396__artboard {
        height: 80px;
    }

    #rec48204974 .t396__filter {
        height: 80px;
    }

    #rec48204974 .t396__carrier {
        height: 80px;
    }
}

#rec48204974 .tn-elem[data-elem-id="1521540249895"] {
    color: #000000;
    z-index: 1;
    top: 70px;
    left: calc(50% - 600px + 220px);
    width: 560px;
}

#rec48204974 .tn-elem[data-elem-id="1521540249895"] .tn-atom {
    color: #000000;
    font-size: 20px;
    font-family: 'Open Sans';
    line-height: 1.55;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
    #rec48204974 .tn-elem[data-elem-id="1521540249895"] .tn-atom {
        font-size: 17px;
    }
}

@media screen and (max-width: 479px) {
    #rec48204974 .tn-elem[data-elem-id="1521540249895"] .tn-atom {
        font-size: 12px;
    }
}

#rec48204974 .tn-elem[data-elem-id="1521540316248"] {
    color: #000000;
    text-align: center;
    z-index: 2;
    top: 77px;
    left: calc(50% - 600px + 758px);
    width: 20px;
    height: 20px;
}

#rec48204974 .tn-elem[data-elem-id="1521540316248"] .tn-atom {
    color: #000000;
    font-size: 10px;
    font-family: 'Arial';
    line-height: 1.55;
    font-weight: 600;
    border-width: 1px;
    border-radius: 100px;
    background-color: #ffe100;
    background-position: center center;
    border-color: #000000;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

#rec48204974 .tn-elem[data-elem-id="1521540316248"] .tn-atom:hover {
    background-color: #000000;
    border-color: #ffe100;
    color: #ffe100;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

.t300__tooltipster-noir_48204956 {
    background-color: #708090 !important;
    color: #fff !important;
    border-radius: 10px !important;
    border: 1px solid #000000 !important;
}

.t300__tooltipster-noir_48203899 {
    background-color: #708090 !important;
    color: #fff !important;
    border-radius: 10px !important;
    border: 1px solid #000000 !important;
}

#rec48174213 input::-webkit-input-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec48174213 input::-moz-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec48174213 input:-moz-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec48174213 input:-ms-input-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec48174213 textarea::-webkit-input-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec48174213 textarea::-moz-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec48174213 textarea:-moz-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec48174213 textarea:-ms-input-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec48174213 .t-submit:hover {
    background-color: #ff8800 !important;
    color: #000000 !important;
    border-color: #000000 !important;
}

#rec48174213 .t-submit {
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

#rec48205748 .t396__artboard {
    height: 140px;
    background-color: #ffffff;
}

#rec48205748 .t396__filter {
    height: 140px;
}

#rec48205748 .t396__carrier {
    height: 140px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
    #rec48205748 .t396__artboard {
        height: 100px;
    }

    #rec48205748 .t396__filter {
        height: 100px;
    }

    #rec48205748 .t396__carrier {
        height: 100px;
        background-attachment: scroll;
    }
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
    #rec48205748 .t396__artboard {
        height: 80px;
    }

    #rec48205748 .t396__filter {
        height: 80px;
    }

    #rec48205748 .t396__carrier {
        height: 80px;
    }
}

#rec48205748 .tn-elem[data-elem-id="1521540249895"] {
    color: #000000;
    z-index: 1;
    top: 70px;
    left: calc(50% - 600px + 220px);
    width: 560px;
}

#rec48205748 .tn-elem[data-elem-id="1521540249895"] .tn-atom {
    color: #000000;
    font-size: 20px;
    font-family: 'Open Sans';
    line-height: 1.55;
    font-weight: 700;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
    #rec48205748 .tn-elem[data-elem-id="1521540249895"] .tn-atom {
        font-size: 17px;
    }
}

@media screen and (max-width: 479px) {
    #rec48205748 .tn-elem[data-elem-id="1521540249895"] .tn-atom {
        font-size: 12px;
    }
}

#rec48205748 .tn-elem[data-elem-id="1521540316248"] {
    color: #000000;
    text-align: center;
    z-index: 2;
    top: 77px;
    left: calc(50% - 600px + 621px);
    width: 20px;
    height: 20px;
}

#rec48205748 .tn-elem[data-elem-id="1521540316248"] .tn-atom {
    color: #000000;
    font-size: 10px;
    font-family: 'Arial';
    line-height: 1.55;
    font-weight: 600;
    border-width: 1px;
    border-radius: 100px;
    background-color: #ffe100;
    background-position: center center;
    border-color: #000000;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

#rec48205748 .tn-elem[data-elem-id="1521540316248"] .tn-atom:hover {
    background-color: #000000;
    border-color: #ffe100;
    color: #ffe100;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

.t300__tooltipster-noir_48205741 {
    background-color: #708090 !important;
    color: #fff !important;
    border-radius: 10px !important;
    border: 1px solid #000000 !important;
}

#rec48183699 input::-webkit-input-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec48183699 input::-moz-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec48183699 input:-moz-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec48183699 input:-ms-input-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec48183699 textarea::-webkit-input-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec48183699 textarea::-moz-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec48183699 textarea:-moz-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec48183699 textarea:-ms-input-placeholder {
    color: #000000;
    opacity: 0.5;
}

#rec48183699 .t-submit:hover {
    background-color: #ff8800 !important;
    color: #000000 !important;
    border-color: #000000 !important;
}

#rec48183699 .t-submit {
    -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

#rec48171082 .t396__artboard {
    height: 1320px;
    background-color: #ffffff;
}

#rec48171082 .t396__filter {
    height: 1320px;
}

#rec48171082 .t396__carrier {
    height: 1320px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
    #rec48171082 .t396__artboard {
        height: 1220px;
    }

    #rec48171082 .t396__filter {
        height: 1220px;
    }

    #rec48171082 .t396__carrier {
        height: 1220px;
        background-attachment: scroll;
    }
}

@media screen and (max-width: 959px) {
    #rec48171082 .t396__artboard {
        height: 1010px;
    }

    #rec48171082 .t396__filter {
        height: 1010px;
    }

    #rec48171082 .t396__carrier {
        height: 1010px;
    }
}

@media screen and (max-width: 639px) {
    #rec48171082 .t396__artboard {
        height: 950px;
    }

    #rec48171082 .t396__filter {
        height: 950px;
    }

    #rec48171082 .t396__carrier {
        height: 950px;
    }
}

@media screen and (max-width: 479px) {
    #rec48171082 .t396__artboard {
        height: 840px;
    }

    #rec48171082 .t396__filter {
        height: 840px;
    }

    #rec48171082 .t396__carrier {
        height: 840px;
    }
}

#rec48171082 .tn-elem[data-elem-id="1519837491780"] {
    color: #000000;
    z-index: 15;
    top: 30px;
    left: calc(50% - 600px + 205px);
    width: 770px;
}

#rec48171082 .tn-elem[data-elem-id="1519837491780"] .tn-atom {
    color: #000000;
    font-size: 20px;
    font-family: 'Open Sans';
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
    #rec48171082 .tn-elem[data-elem-id="1519837491780"] .tn-atom {
        font-size: 14px;
    }
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
    #rec48171082 .tn-elem[data-elem-id="1519837491780"] .tn-atom {
        font-size: 12px;
    }
}

#rec48171082 .tn-elem[data-elem-id="1519837547300"] {
    z-index: 16;
    top: 203px;
    left: calc(50% - 600px + -241px);
    width: 1681px;
    height: 188px;
}

#rec48171082 .tn-elem[data-elem-id="1519837547300"] .tn-atom {
    border-width: 1px;
    background-color: #fafafa;
    background-position: center center;
    border-color: #8f8f8f;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec48171082 .tn-elem[data-elem-id="1519837618615"] {
    color: #000000;
    z-index: 17;
    top: 230px;
    left: calc(50% - 600px + 205px);
    width: 790px;
}

#rec48171082 .tn-elem[data-elem-id="1519837618615"] .tn-atom {
    color: #000000;
    font-size: 20px;
    font-family: 'Open Sans';
    line-height: 1.55;
    font-weight: 400;
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
    #rec48171082 .tn-elem[data-elem-id="1519837618615"] .tn-atom {
        font-size: 14px;
    }
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
    #rec48171082 .tn-elem[data-elem-id="1519837618615"] .tn-atom {
        font-size: 12px;
    }
}

#rec48171082 .tn-elem[data-elem-id="1519838086690"] {
    z-index: 18;
    top: 430px;
    left: calc(50% - 600px + 90px);
    width: 1020px;
}

#rec48171082 .tn-elem[data-elem-id="1519838086690"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec48171082 .tn-elem[data-elem-id="1519838164839"] {
    z-index: 19;
    top: 860px;
    left: calc(50% - 600px + 90px);
    width: 1020px;
}

#rec48171082 .tn-elem[data-elem-id="1519838164839"] .tn-atom {
    background-position: center center;
    border-color: transparent;
    border-style: solid;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec48171083 .t396__artboard {
    height: 160px;
    background-color: #ffffff;
}

#rec48171083 .t396__filter {
    height: 160px;
}

#rec48171083 .t396__carrier {
    height: 160px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1199px) {
    #rec48171083 .t396__artboard {
    }

    #rec48171083 .t396__filter {
    }

    #rec48171083 .t396__carrier {
        background-attachment: scroll;
    }
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}

#rec48171083 .tn-elem[data-elem-id="1519838532963"] {
    color: #000000;
    text-align: center;
    z-index: 1;
    top: 53px;
    left: calc(50% - 600px + 480px);
    width: 240px;
    height: 55px;
}

#rec48171083 .tn-elem[data-elem-id="1519838532963"] .tn-atom {
    color: #000000;
    font-size: 20px;
    font-family: 'Arial';
    line-height: 1.55;
    font-weight: 600;
    border-width: 1px;
    border-radius: 3px;
    background-color: #ffe100;
    background-position: center center;
    border-color: #000000;
    border-style: solid;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
}

#rec48171083 .tn-elem[data-elem-id="1519838532963"] .tn-atom:hover {
    background-color: #000000;
    border-color: #ffe100;
    color: #ffe100;
}

@media screen and (max-width: 1199px) {
}

@media screen and (max-width: 959px) {
}

@media screen and (max-width: 639px) {
}

@media screen and (max-width: 479px) {
}